/* Form CSS */
form {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s ease-in-out;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  }
  
  div {
    margin-bottom: 1rem;
    color: #777;
    font-size: 0.9rem;
  }
  
  button {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 8px;
    background-color: #66ff00;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

 .delete {
    width: 25%;
    padding: 0.8rem;
    margin-bottom: 8px;
    background-color: #ff4800;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .purchase {
    width: 25%;
    padding: 0.8rem;
    margin-bottom: 8px;
    background-color: #00ffd0;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .purchase:hover {
    width: 25%;
    padding: 0.8rem;
    margin-bottom: 8px;
    background-color: #00a2ff;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .delete:hover {
    width: 25%;
    padding: 0.8rem;
    margin-bottom: 8px;
    background-color: #ffa600;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

 
  button:hover {
    background-color: #0056b3;
  }
  