/* Form CSS */
form {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s ease-in-out;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  }
  
  div {
    margin-bottom: 1rem;
    color: #777;
    font-size: 0.9rem;
  }
  
  button {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 8px;
    background-color: #66ff00;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .form-input {
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.4);
  }

 .delete {
    width: 25%;
    padding: 0.8rem;
    margin-bottom: 8px;
    background-color: #ff4800;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .purchase {
    width: 25%;
    padding: 0.8rem;
    margin-bottom: 8px;
    background-color: #00ffd0;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .purchase:hover {
    width: 25%;
    padding: 0.8rem;
    margin-bottom: 8px;
    background-color: #00a2ff;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .delete:hover {
    width: 25%;
    padding: 0.8rem;
    margin-bottom: 8px;
    background-color: #ffa600;
    color: white;
    border: none;
    border-radius: 100px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

 
  button:hover {
    background-color: #0056b3;
  }
  
  /* ## BB BTN GRADIENT ## */

/* add btn on:hover gradient animation: btn-hover-20 has 20px on the left margin so it is under what text is above it. btn-hover-full is for btns we want to take up the whole of the column. Control the size by adjusting column margins and padding */

/* ## BTN-HOVER-20 LEFT MARGIN ## */

.btn-hover-20 {
  width: 300px;
  background-size: 400% 100%;
  border-radius: 8px;
  transition: all .5s ease-in-out;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.25);
  margin-left: 20px;
}

.btn-hover-20:hover {
  background-position: 100% 0;
  transition: all .5s ease-in-out;
}
/* ## BTN-HOVER-FULL FULL-WIDTH ## */

.btn-hover-full {
  width: 100%;
  background-size: 400% 100%;
  border-radius: 8px;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.25);
  transition: all .5s ease-in-out;
}

.btn-hover-full:hover {
  background-position: 100% 0;
  transition: all .5s ease-in-out;
}

/* ## BTN-HOVER-CENTER CENTERED ## */

.btn-hover-center {
  width: 300px;
  background-size: 400% 100%;
  border-radius: 8px;
  transition: all .5s ease-in-out;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.25);
  margin-left: auto;
  margin-right: auto;
}

.btn-hover-center:hover {
  background-position: 100% 0;
  transition: all .5s ease-in-out;
}

/* ## COLORS FOR BTN-HOVER VARIANTS ## */

.btn-hover {
  background-size: 300% 100%;
  border-radius: 8px;
  transition: all .5s ease-in-out;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.25);
  display: flex;
    justify-content: center; 
    align-items: center; 

}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all .5s ease-in-out;
}

.color-green-gold {
  background-image: linear-gradient(to right, rgb(206, 12, 12), rgb(29, 167, 43), rgb(29, 167, 126), rgb(29, 93, 167), rgb(75, 29, 167), #cea800, #000);
}